<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/webjars/jquery/jquery.slim.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <style>
        #olho {
             position: absolute;
             top: 20px;
             right: 10px;
             cursor: pointer;
         }
    </style>
</head>
<body class="container" style="background-color: beige">
<div class="container-sm" style="width: 570px">
    <div class="alert alert-danger text-center fs-5 p-0" th:errors="${clientePF.*}"></div>
    <div class="alert alert-danger text-center fs-5 p-0" th:if="${erroLogin}" th:text="${erroLogin}"></div>
</div>
<div class="container-sm " style="width: 570px; margin-top: 4rem">
    <div class="card border rounded-3 p-3 shadow-lg">
        <div class="text-black position-relative text-center">
            <i class="fas fa-user-circle" style="font-size: 6rem; position: absolute;
                         left: 13rem; top: -4.5rem"></i>
        </div>
        <div class="form-signin">
            <div class="mt-5 mb-1">
                <h4 class=" card-header p-3 border mx-2 text-center">Faça seu cadastro!</h4>
            </div>
            <form th:action="@{/clientes/savecadastro}" th:object="${clientePF}" method="post" class="mt-3">
                <input type="hidden" th:field="*{id}" >

                <div  style="position: relative; right: 0.3rem">
                    <div class="d-grid gap-2 d-lg-flex mx-3 row-cols-2">
                        <div class="form-floating ">
                            <input class="form-control" type="text" id="nome"
                                   th:field="*{nome}" placeholder=" "/>
                            <label for="nome">Nome </label>
                        </div>

                        <div class="form-floating">
                            <input class="form-control" type="text" id="cpf"
                                   th:field="*{cpf}" placeholder=" "/>
                            <label for="cpf">CPF</label>
                        </div>
                    </div>

                    <div class="d-grid gap-2 d-lg-flex mx-3 row-cols-2">
                        <div class="form-floating mt-2">
                            <input class="form-control" type="text" id="login"
                                   th:field="*{usuario.login}" placeholder=" "/>
                            <label for="login">Login</label>
                        </div>

                        <div class="form-floating mt-2 position-relative">
                            <input class="form-control"  type="password" id="password" maxlength="22"
                                   th:field="*{usuario.password}" placeholder=" "/>
                            <span id="olho" class="fas fa-eye-slash"></span>
                            <label for="password">Senha</label>
                        </div>
                    </div>
                </div>
                <div class="d-grid gap-2 mx-2 mt-3  " >
                    <button type="submit" class="btn btn-lg btn-dark">
                        Cadastrar
                    </button>
                    <a class="text-decoration-none" th:href="@{/login}">Já é cadastrado?</a>
                </div>
            </form>

        </div>
    </div>
</div>
<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/620b7252b5.js" crossorigin="anonymous"></script>
<script type="text/javascript">
    $("#cpf").mask("999.999.999-99");

    let btn = document.querySelector('#olho');
    btn.addEventListener('click', () => {
        let input = document.querySelector('#password');
        if (input.getAttribute('type') == 'password') {
            input.setAttribute('type', 'text');
            btn.setAttribute('class', 'fas fa-eye');
        } else {
            input.setAttribute('type', 'password');
            btn.setAttribute('class', 'fas fa-eye-slash');
        }
    });
</script>
</body>
</html>
