<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <style>
        #olho {
            position: absolute;
            top: 20px;
            right: 10px;
            cursor: pointer;
        }
    </style>
</head>
<body class="container" style="background-color: beige">
<div class="container-sm" style="width: 400px">
    <div th:if="${param.error}">
        <div class="alert alert-danger text-center fs-5">Usuário/senha inválidos!</div>
    </div>
    <div th:if="${param.logout}">
        <div class="alert alert-info text-center fs-5">Usuário desconectado!</div>
    </div>
    <div class="alert alert-success text-center fs-5" th:if="${success}" th:text="${success}"/>
</div>
<div class="container-sm" style="width: 400px; margin-top: 4rem">
    <div class="shadow-lg mt-5 ">
        <div class="card border rounded-3 p-3">
            <div class="text-black position-relative text-center">
                <i class="fas fa-user-circle" style="font-size: 6rem; position: absolute;
                    left: 7.5rem; top: -4.5rem"></i>
            </div>
            <div class="mx-3 mt-5">
                <h4 class="card-header p-3 border  text-center">Informe login e senha</h4>
            </div>
            <div class="card-body form-signin">
                <form th:action="@{/login}" method="post">
                    <div class="form-floating">
                        <input class="form-control col-11" type="text" id="login" placeholder="Login"
                               name="username" style="width: 19.5rem"/>
                        <label for="login">Login</label>
                    </div>

                    <div class="form-floating mt-2 position-relative">
                        <input class="form-control" type="password" id="senha" placeholder="Senha"
                               maxlength="30" name="password" style="width: 19.5rem;"/>
                        <span id="olho" class="fas fa-eye-slash"></span>
                        <label for="senha">Senha</label>
                    </div>
                    <div class="form-group mt-3 mb-2">
                        <button type="submit" class="btn btn-lg col-12 btn-dark">Login</button>
                    </div>
                </form>
                <a class="mx-auto text-decoration-none " th:href="@{/clientes/formcadastro}">Cadastre-se!</a>
            </div>
        </div>
    </div>
</div>
<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/620b7252b5.js" crossorigin="anonymous"></script>
<script type="text/javascript">
    let btn = document.querySelector('#olho');
    btn.addEventListener('click', () => {
        let input = document.querySelector('#senha');
        if (input.getAttribute('type') == 'password') {
            input.setAttribute('type', 'text');
            btn.setAttribute('class', 'fas fa-eye');
        } else {
            input.setAttribute('type', 'password');
            btn.setAttribute('class', 'fas fa-eye-slash');
        }
    });
</script>
</body>
</html>
