<!--Cabeçalho-->
<div th:replace="fragments/header :: modelheader" xmlns:Erro="http://www.w3.org/1999/xhtml"></div>

<!--Conteúdo-->
<div class="container shadow p-3 mb-5 bg-body rounded mt-4">
    <div class="card">
        <h5 class="card-header p-3">Cadastro de Produtos</h5>
        <div class="card-body">
            <!--Formulário-->
            <form th:action="${produto.id == null} ? @{/produtos/save} : @{/produtos/update}" th:object="${produto}"
                  method="post">
                <input type="hidden" th:field="*{id}">

                <div class="input-group mb-3 d-inline-block">
                    <div class="d-flex">
                        <span class="input-group-text">Nome</span>
                        <input th:field="*{nome}" type="text" class="form-control" aria-label="Nome do produto"
                               autofocus>
                    </div>
                    <i class="fas text-danger p-1 ps-4 ms-5 fa-exclamation-triangle"
                       th:errors="${produto.nome}"></i>
                </div>

                <div class="input-group mb-3 d-inline-block">
                    <div class="d-flex">
                        <span class="input-group-text">Descrição</span>
                        <input th:field="*{descricao}" type="text" class="form-control"
                               aria-label="Descrição do produto">
                    </div>
                    <i class="fas text-danger p-1 ps-5 ms-5 fa-exclamation-triangle"
                       th:errors="${produto.descricao}"></i>
                </div>

                <div class="input-group mb-3 d-inline-block">
                    <div class="d-flex">
                        <span class="input-group-text">Valor R$</span>
                        <input th:field="*{valor}" type="text" class="form-control" aria-label="Valor do produto">
                    </div>
                    <i class="fas text-danger p-1 ps-5 ms-5 fa-exclamation-triangle"
                       th:errors="${produto.valor}"></i>
                </div>

                <div class="d-flex justify-content-between aling-items-center" style="position: relative; top:15px">
                    <a class="btn btn-dark" th:href="@{/}">Voltar</a>
                    <button type="submit" class="btn btn-dark">Cadastrar</button>
                </div>
            </form>
            <!--Fim formulario-->
        </div>
    </div>
</div>

<!--Rodapé-->
<div th:replace="fragments/footer :: modelfooter"></div>
